<a href="https://colab.research.google.com/github/gurtaransingh/topsis/blob/main/Topsis_102003220.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd
import numpy as np

In [47]:
#file upload
mydata=pd.read_csv('/content/Topsis-Dataset.csv')
mydata

  Model  Corr  Rseq  RMSE  Accuracy
0    M1  0.79  0.62  1.25     60.89
1    M2  0.66  0.44  2.89     63.07
2    M3  0.56  0.31  1.57     62.87
3    M4  0.82  0.67  2.68     70.19
4    M5  0.75  0.56  1.30     80.39

In [48]:
#weight
w = [2,3,1,0.5]

In [49]:
#impact
i = [-1, -1, 1, 1]

In [50]:
#element multipy
r = []
for j in range(0, len(w)):
    r.append(w[j] * i[j])

In [51]:
# r

In [52]:
first_column = mydata.columns[0]
# Delete first column
d = mydata.drop([first_column], axis=1)
d.to_csv('file.csv', index=False)
d = pd.DataFrame(d)
d

   Corr  Rseq  RMSE  Accuracy
0  0.79  0.62  1.25     60.89
1  0.66  0.44  2.89     63.07
2  0.56  0.31  1.57     62.87
3  0.82  0.67  2.68     70.19
4  0.75  0.56  1.30     80.39

In [53]:
d1 = d

In [54]:
def func(df, col):
  df[col] = df[col] / np.sqrt(df[col].sum())

In [55]:
d=d*d
# d

In [56]:
# for i in range(len(d)-1):
for i in range(d.shape[1]):
  func(d, d.columns[i])

In [57]:
# d

In [58]:
d=d*r
# d

In [59]:
d.sum(axis=1)

# for i in range(len(d)):
#   d["Topsis Score 2"] = d.sum(axis=1)
# d

d["Topsis Score"] = d.sum(axis=1)
# d

In [60]:
ranks = list(range(len(d)))
Rank = [x for x in ranks]
d['Index']=Rank
# d

In [61]:
d = d.sort_values(by=['Topsis Score'], ascending=False)
# d

In [62]:
ranks = list(range(len(d)))
Rank = [x+1 for x in ranks]
d['Rank']=Rank
# d

In [63]:
d = d.sort_values(by=['Index'])
# d

In [64]:
# d1

In [65]:
d1['Topsis Score'] = d['Topsis Score']
d1['Rank'] = d['Rank']
d1

   Corr  Rseq  RMSE  Accuracy  Topsis Score  Rank
0  0.79  0.62  1.25     60.89     10.820256     5
1  0.66  0.44  2.89     63.07     13.894467     3
2  0.56  0.31  1.57     62.87     12.929540     4
3  0.82  0.67  2.68     70.19     15.834764     2
4  0.75  0.56  1.30     80.39     20.178868     1